gradio>=4.44
pandas>=2.2
numpy>=1.26
python-dotenv>=1.0
langchain>=0.2
langchain-community>=0.2
langchain-chroma>=0.1
langchain-huggingface>=0.0.3
langchain-openai>=0.1
langchain-text-splitters>=0.2
chromadb>=0.5
sentence-transformers>=3.0
transformers>=4.40
kagglehub>=0.3
matplotlib>=3.8
seaborn>=0.13
tqdm>=4.66
jupyter>=1.0
